<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956957356770-6g143be94far1sqgjfof28kue1knme9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956957356770-6g143be94far1sqgjfof28kue1knme9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDgi1gLuiUU5BpdnRSX5fTNFrDuHrJU0Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>956957356770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StudentHub.StudentHub</string>
	<key>PROJECT_ID</key>
	<string>studenthub-48168</string>
	<key>STORAGE_BUCKET</key>
	<string>studenthub-48168.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956957356770:ios:0f02db1dc00a6cb296e4bb</string>
	<key>DATABASE_URL</key>
	<string>https://studenthub-48168.firebaseio.com</string>
</dict>
</plist>